version: "3"
services:
 mongodb:
    image: "mongo:latest"
    container_name: "scorpio_mongodb"
    command: mongod --auth
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongodbuser
      MONGO_INITDB_ROOT_PASSWORD: mongodbpassword
      MONGO_INITDB_DATABASE: scorpiodb
      MONGODB_DATA_DIR: /data/db
      MONDODB_LOG_DIR: /dev/null
    volumes:
      - mongodb_data:/data/db
    ports:
       - '27017:27017'

volumes:
  mongodb_data: