.spinner-overlay {
  height: 100%;
  width: 100%;
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;

  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.2s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.spinner-overlay-fade {
  background-color: rgba(0, 0, 0, 0.15); /* Black w/opacity */
}

/* Position the content inside the overlay */
.spinner-overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.scorpio-status-overlay-container {
  position: fixed !important;
  z-index: 99999;
  bottom: 10px;
  right: 10px;
  max-width: 200px;
  min-width: 170px;
}

.text-large {
  font-size: 1.1rem;
  font-weight: 500;
}

.ok {
  background-color: rgb(139, 255, 110);
}

.nok {
  background-color: rgb(255, 58, 84);
}

.mrg-left-auto {
  margin-left: auto !important;
}

.mrg-right-auto {
  margin-right: auto !important;
}

.mrg-right-sm {
  margin-right: 5px;
}

.hidden {
  visibility: hidden !important;
}

.display-none {
  display: none !important;
}

.visible {
  visibility: visible !important;
}

.status-wrapper-expanded {
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
}

.ui.wide.left {
  max-width: 200px !important;
}

.margin-bottom-m {
  margin-bottom: 1em;
}

.parameter table {
  width: 100%;
}

.scorpio-leaflet-overlay-container {
  position: fixed !important;
  z-index: 99999;
  bottom: 10px;
  left: 10px;
  max-width: 200px;
}

.mrg-left-sm {
  margin-left: 5px;
}
