body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  height: 100%;
}

#root > div:first-child {
  height: 100%;
  width: 100%;
}

.bordered {
  border: 1px solid lightgray;
}

.d-block {
  display: block !important;
}

.inline {
  display: inline-block !important;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

.grid-dragable {
  background-color: slateblue;
}

.center {
  text-align: center;
}

.padding-bottom-sm {
  padding-bottom: 5px;
}

.ui.pagination.menu .active.item {
  background-color: rgba(242, 113, 26, 0.7) !important;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.cursor-text {
  cursor: text;
}
